.main {
    max-width: var(--max-width);
    margin: 0 auto;
    margin-top: 62px;

    @media only screen and (max-width: 1100px) {
        margin: 62px 20px 20px;
    }

    @media only screen and (max-width: 840px) {
        margin: 35px 20px 20px;
    }

    &__container {}

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 20px;


    }

    .pagination-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 12px;
    }

    .previous svg,
    .next svg {
        color: #21B2D4;
        cursor: pointer;
    }

    .pagination-disabled svg {
        color: #E8E8E8
    }

    .pagination-btns a {
        width: 32px;
        height: 32px;
        background-color: #EFFBFD;
        color: #21B2D4;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        font-size: 14px;
    }

    .pagination-active a {
        color: #fff;
        background-color: #21B2D4;
    }

    &__parag {
        font-size: 25px;
        text-align: center;
        margin-bottom: 48px;

    }
}